/* Global */
.link {
  color: #2196f3; /* Blue 500 */
}

.link:hover {
  color: #1976d2; /* Blue 700 */
}

/* Capture area */
.input {
  width: 2rem;
  border: none;
  border-bottom: 1px solid #b0bec5; /* Blue Gray 200 */
  color: #b0bec5; /* Blue Gray 200 */
  background-color: transparent;
  font-size: 1.5rem;
  text-align: center;
  transition-duration: .25s;
  transition-timing-function: linear;
  transition-property: color, border;
}

.input::-webkit-input-placeholder {
  color: #b0bec5; /* Blue Gray 200 */
}

.input::-moz-placeholder {
  color: #b0bec5; /* Blue Gray 200 */
}

.input::placeholder {
  color: #b0bec5; /* Blue Gray 200 */
}

.input:focus {
  border-bottom-color: #78909c; /* Blue Gray 400 */
  color: #78909c; /* Blue Gray 400 */
}

.option--active .input {
  border-bottom-color: #455a64; /* Blue Gray 700 */
  color: #455a64; /* Blue Gray 700 */
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.options {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.option {
  margin: 0;
  padding: .75rem 1rem;
  transition: .25s linear background;
}

.option--active {
  background-color: #fff9c4; /* Yellow 100 */
}

.option--hidden {
  display: none;
}

.option__label {
  display: flex;
  align-items: baseline;
}

.option__times,
.option__text {
  margin-left: .25rem;
  color: #b0bec5; /* Blue Gray 200 */
  transition: .25s linear color;
}

.option__times,
.option__name {
  font-size: 1.5rem;
}

.option__tags {
  font-size: .75rem;
  font-weight: light;
  text-transform: uppercase;
}

.option__tag:not(:first-child) {
  display: inline-block;
  margin-left: .5rem;
}

.option__tag--favourite {
  color: #fbc02d; /* Yellow 700 */
}

.input:focus ~ .option__times,
.input:focus ~ .option__text {
  color: #78909c; /* Blue Gray 400 */
}

.option--active .option__times,
.option--active .option__text,
.option--active .input:focus ~ .option__times,
.option--active .input:focus ~ .option__text {
  color: #455a64; /* Blue Gray 700 */
}

/* Search */
.search {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #b0bec5; /* Blue Gray 200 */
  margin-bottom: .5rem;
}

.search__input {
  width: 100%;
  padding: 1rem;
  border: none;
  color: #78909c; /* Blue Gray 400 */
  background-color: transparent;
  font-size: 1.5rem;
}

.search__input::placeholder {
  color: #b0bec5; /* Blue Gray 200 */
}

/* Tweet text */
.tweet-text {
  position: relative;
  margin: 2rem;
  font-size: 1.5rem;
}

.tweet-text::before,
.tweet-text::after {
  position: absolute;
  z-index: -1;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 6rem;
  color: #eceff1; /* Blue Gray 50 */
}

.tweet-text::before {
  top: -2rem;
  left: -2rem;
  content: "“";
}

.tweet-text::after {
  bottom: -4rem;
  right: -2rem;
  content: "”";
}

/* Social link */
.social-links-wrapper {
  position: -webkit-sticky;
  position: sticky;
  bottom: .5rem;
  margin: 1.5rem .5rem .5rem;
  text-align: center;
}

.social-link {
  display: inline-block;
  padding: .875rem 1.25rem;
  margin: 0 .25rem;
  background-color: white;
  border-radius: 5rem;
  border-width: .125rem;
  border-style: solid;
  font-size: 1.125rem;
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .25s;
  transition-timing-function: linear;
  transition-property: color, border, background;
}

.social-link--instagram {
  color: #e1306c; /* Instagram Pink */
  border-color: #e1306c; /* Instagram Pink */
}

.social-link--instagram:hover {
  color: white;
  background-color: #e1306c; /* Instagram Pink */
}

.social-link--twitter {
  color: #1da1f2; /* Twitter Blue */
  border-color: #1da1f2; /* Twitter Blue */
}

.social-link--twitter:hover {
  color: white;
  background-color: #1da1f2; /* Twitter Blue */
}

/* Footer */
.footer {
  margin: 2rem 0;
  text-align: center;
}
