/* Material UI palettes: https://material.io/design/color/the-color-system.html#tools-for-picking-colors */
html {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  color: #263238; /* Blue Gray 900 */
}

@media(min-width: 640px) {
  body {
    max-width: 608px; /* 640px - (2 * 16px) */
    margin-left: auto;
    margin-right: auto;
  }
}